<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Teste Projeto</a>
            <img src="/assets/img/favicons/favicon-16x16.png">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/posts">Posts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if auth.check %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/logout"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login"><i class="glyphicon glyphicon-log-in"></i>Login</a></li>
                    <li><a href="/user/create"><i class="glyphicon glyphicon-pencil"></i>Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>