{% extends layout %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2 class="h2"></h2>
        </div>
        <div class="row">
            {% include "/alerts/_sucess.twig" %}
            {% include "/alerts/_error.twig" %}
        </div>
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
                <h1 class="h1 text-center">Teste Projeto</h1>
                <p>
                    Texto sobre alguma coisa blablabla
                </p>
                <p>
                    Esta é uma introdução da pagina
                </p>
            </div>
        </div>
    </div>
{% endblock body %}