{% if error is defined %}
    <div id="error">
        <div class="alert alert-danger alert-dismissible" role="alert">
            {% for msg in error %}
                <strong>{{ msg }}</strong>
                <i class="glyphicon glyphicon-ok-alert"></i>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div id="error">

    </div>
{% endif %}
