{% if sucess is defined %}
    <div id="sucess">
        <div class="alert alert-success alert-dismissible" role="alert">
            {% for msg in sucess %}
                <strong>{{ msg }}</strong>
                <i class="glyphicon glyphicon-ok-alert"></i>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div id="sucess">

    </div>
{% endif %}
