{% extends "base.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        {% include "/alerts/_error.twig" %}
                        {% include "/alerts/_sucess.twig" %}
                        <form action="" id="form_create_user" method="post" accept-charset="utf-8">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input type="text" name="name" class="form-control"
                                       value="">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">E-mail</label>
                                <input type="text" name="email" class="form-control"
                                       value="">
                                <span class="help-block"></span>
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                <input type="password" name="password" class="form-control"
                                       value="">
                                <span class="help-block"></span>
                            </div>
                            <button id="btn_save" type="submit" class="btn btn-primary">
                                <i class="glyphicon glyphicon-floppy-save" aria-hidden="true">Save</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/assets/js/createUser.js"></script>
{% endblock %}