{% extends layout %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% include "/alerts/_error.twig" %}
                            {% include "/alerts/_sucess.twig" %}
                        </div>
                        <form action="" id="form_login" method="post" accept-charset="UTF-8">

                            <div class="form-group">
                                <label for="" class="control-label">E-mail</label>
                                <input type="text" name="email" class="form-control"
                                       value="">
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label">Password</label>
                                <input type="password" name="password" class="form-control">
                            </div>

                            <div class="center-block">
                                <button type="submit" id="login" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-log-in" aria-hidden="true"> Login</i>
                                </button>
                                <a href="/user/forget" type="submit" id="sendMail" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-send" aria-hidden="true"> Recover</i>
                                </a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/assets/js/createUser.js"></script>
{% endblock %}