{% extends layout%}
{% block title %}{{ title }}{% endblock %}
{% block  body %}
    <div id="cat">
    </div>
    <div class="container">
        <div class="row">
            <h1 class="h1 col-xs-12"></h1>
            <div class="row">
                {% include "/alerts/_sucess.twig" %}
                {% include "/alerts/_error.twig" %}
            </div>
            <form action="" method="post" id="form_create_post" accept-charset="utf-8">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label for="" class="control-label">Title</label>
                        <input type="text" name="title" class="form-control"
                               value="">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Content</label>
                        <textarea name="content" class="form-control" rows="10"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group ">
                        <label for="" class="control-label">Categories</label>
                        {% for cat in category %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="category_id[]" value="{{ cat.id }}">
                                    {{ cat.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <a href="/posts" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/assets/js/createUser.js"></script>
{% endblock %}