{% extends layout %}
{% block title %}{{ title }}{% endblock %}
{% block  body %}
    <div class="container">
        <div class="row">
            {% include "/alerts/_error.twig" %}
            {% include "/alerts/_sucess.twig" %}
        </div>
        <div class="row">
            <h1 class="h1">
                {% if auth.check %}
                    <a href="/posts/create" class="btn btn-primary pull-right">
                        <i class="glyphicon glyphicon-plus-sign"></i>New Post
                    </a>
                {% endif %}
            </h1>
        </div>
        {% for post in posts %}
            <div class="row">
                <a href="/posts/{{ post.id }}/show">
                    <h3 class="h3">{{ post.title }}</h3>
                </a>
                <p class="text-justify">{{ post.content }}</p>
                <p>
                    <strong>Autor:{{ post.user.name }}</strong><br>
                    <strong>Categorias:</strong><br>
                    {% for categorias in post.category %}
                        {{ categorias.name }}
                    {% endfor %}
                    {% if auth.id == post.user.id %}
                    <span class="pull-right">
                        <a href="/posts/edit/{{ post.id }}" class="btn btn-warning btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="/posts/{{ post.id }}/delete" id="btn_delete_post" class="btn btn-danger btn-xs"
                           onclick="return confirm('Deletar post?')">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                        </a>
                    </span>
                </p>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}