{% extends "base.twig" %}
{% block  body %}
    <div class="container">
        <div class="row">
            <h1 class="h1 col-xs-12"></h1>

            <form action="/posts/store" method="post" accept-charset="utf-8">

                <div class="col-sm-10">
                    <div class="form-group">
                        <label for="title" class="control-label">Title</label>
                        <input type="text" name="title" class="form-control"
                               value="{{ posts.title }} " disabled>
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <label for="content" class="control-label">Content</label>
                        <textarea name="content" class="form-control" rows="10" disabled>{{ posts.content }}</textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group ">
                        <label for="category_id" class="control-label">Categories</label>
                        {% for cat in category %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="category_id[]" value="{{ cat.id }}" disabled>
                                    {{ cat.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-xs-12">
                    <a href="/posts" class="btn btn-default">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}