<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include "/components/nav_bar.twig" %}
{% block body %}{% endblock %}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>